@import url("fonts.css");

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: 'GothamBookRegular', arial, sans-serif;
    color: #000;
    background: #b3b3b3;
    min-width: 1064px;
}

h2, h3, h4, h5 { font-weight: normal; }

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

ol, ul { list-style: none outside none; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -31px; background: url(images/wrapper-bg.png) repeat-y center 0; } 

.shell { max-width: 1400px; min-width: 1064px; margin: 0 auto; }

#header { height: 28px; line-height: 28px; padding: 9px 0 12px 0; background: url(images/header-bg.png) repeat-x 0 0; position: relative; z-index: 4; font-family: 'GothamBookRegular', arial, sans-serif; }
#header a { font-size: 12px; color: #787878; text-shadow: #fff 1px 1px 1px; text-transform: uppercase; }
#header a:hover,
#header a.active { text-decoration: none; color: #aeaeae; }
#header .number { font-size: 14px; color: #676767; font-weight: bold; padding: 0 0 0 12px; }
#header p.right { padding: 0 25px 0 0; }

h1#logo { width: 103px; float: left; display: inline; padding: 0 0 0 25px; }
h1#logo a { display: block; background: url(images/logo.png) no-repeat 0 0; height: 28px; }

#navigation { float: left; display: inline; }
#navigation ul li { float: left; display: inline; padding: 0 0 0 25px; }
#navigation ul li a { float: left; }

#main { position: relative; z-index: 3; margin-top: -5px; }

.video-wrapper { height: 620px; background: url(images/video-wrapper-bg.png) no-repeat center 0; }
.video-wrapper a.center-logo { padding: 17px 0 19px 0; margin: 0 auto; width: 283px; height: 132px; display: block; }
.video-wrapper .video { width: 619px; height: 348px; display: block; margin: 0 auto; }
.video-wrapper span.text { padding: 25px 0; display: block; text-align: center; font-size: 18px; line-height: 20px; color: #60605f; font-family: 'GothamRounded-Bold', arial, sans-serif; text-transform: uppercase; }

.show-info { padding: 25px 0 15px 0; text-align: center; }
.show-info h3 { padding: 0 0 12px 0; font-size: 36px; line-height: 38px; color: #666666; font-family: 'FagoNoBlackRegular', arial, sans-serif; text-transform: uppercase; }
.show-info p { width: 570px; display: block; margin: 0 auto; padding-bottom: 21px; color: #60605f; font-size: 16px; line-height: 20px; font-family: 'GothamRounded-Book', arial, sans-serif; letter-spacing: -0.3px; }
.show-info p.small-text { width: 427px; padding: 0; font-size: 12px; line-height: 14px; color: #787878; font-family: 'GothamBookRegular', arial, sans-serif; letter-spacing: 0; }

.line { position: absolute; top: 50%; left: 0; max-width: 1400px; width: 100%; height: 1px; background: #b6b4b4; font-size: 0; line-height: 0; text-indent: -4000px; display: block; z-index: 2; }

.prizes {  padding: 0 0 45px 0;}
.prizes .title { display: block; position: relative; height: 90px; max-width: 1400px; width: 100%; margin: 0 auto; }
.prizes .title h2 { font-size: 82px; line-height: 90px; color: #60605f; text-transform: uppercase; margin: 0 auto; text-align: center; display: block; position: relative; width: 445px; background: #d2d2d2; letter-spacing: -0.3px; z-index: 3; }
.prizes .title h2 { font-family: 'FagoNoBlackRegular', arial, sans-serif; }

.prizes .boxes { padding: 15px 0; width: 777px; margin: 0 auto; display: block; }
.prizes .boxes .box { width: 189px; height: 231px; background: url(images/box-bg.png) no-repeat 0 0; float: left; display: inline; position: relative; padding: 49px 35px 0 35px; }
.prizes .boxes .box .price { display: block; margin: 0 auto; font-size: 0; line-height: 0; text-indent: -4000px; }
.prizes .boxes .box .price-one { width: 144px; height: 62px; background: url(images/price-1.png) no-repeat 0 0; }
.prizes .boxes .box .price-two { width: 173px; height: 62px; background: url(images/price-2.png) no-repeat 0 0; }
.prizes .boxes .box .price-three { width: 171px; height: 64px; background: url(images/price-3.png) no-repeat 0 0; }
.prizes .boxes .box .info { padding: 4px 0 0 5px; width: 95px; text-align: right; line-height: 14px; color: #9e9e9e; letter-spacing: -0.3px; }
.prizes .boxes .box p { width: 100px; text-transform: uppercase; font-family: 'GothamRounded-Bold', arial, sans-serif; padding: 0 0 5px 0; }
.prizes .boxes .box .more { font-size: 15px; line-height: 17px; padding: 20px 0 0 55px; display: block; width: 45px; font-family: 'MyriadProSemibold', arial, sans-serif; background: url(images/plus-icon.png) no-repeat 75px 0; }
.prizes .boxes .box .ipad { position: absolute; bottom: 0; right: 0; width:114px; height: 164px; background: url(images/ipad.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; display: block; }
.prizes .boxes .box .iphone { position: absolute; bottom: -11px; right: 10px; width: 111px; height: 176px; background: url(images/iphone.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; display: block; }
.prizes .boxes .box .ipod { position: absolute; bottom: 11px; right: 10px; width: 106px; height: 82px; background: url(images/ipod.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; display: block; }
.prizes .bottom-text { text-transform: uppercase; width: 360px; display: block; margin: 0 auto; text-align: center; font-size: 14px; line-height: 20px; color: #9e9e9e; letter-spacing: -0.3px; font-family: 'GothamRounded-Bold', arial, sans-serif; }

.slider-wrapper { padding: 0 0 27px 0; }
.slider-wrapper .top { max-width: 1400px; width: 100%; margin: 0 auto; padding: 0 0 30px 0; position: relative; height: 20px; }
.slider-wrapper .top h4 { font-size: 14px; line-height: 20px; color: #9e9e9e; letter-spacing: -0.3px; text-transform: uppercase; text-align: center; display: block; position: relative; z-index: 3; width: 140px; background: #d2d2d2; margin: 0 auto; }
.slider-wrapper .top h4  { font-family: 'GothamRounded-Bold', arial, sans-serif; }
.slider-wrapper .top h4.long-title { width: 225px; }
.slider-wrapper .top .line { top: 10px; }

.slider-holder { max-width: 1400px; min-width: 1064px; width: 100%; display: block; position: relative; margin: 0 auto; padding: 0; }
.slider-holder .slider { margin: 0; padding: 0; display: block; }
.slider-holder .slider li { float: left; display: block; background: url(images/slider-item-bg.png) no-repeat 14px 0; width: 414px; height: 259px; padding: 9px 20px 19px 24px; }
.slider-holder .responsive { width: auto; margin-left: 0; }
.slider-holder .slider li .image { width: 414px; display: block; background: #676767; }
.slider-holder .slider li .image img { display: block; }
.slider-holder a.prev,
.slider-holder a.next { position: absolute; top: 110px; width: 40px; height: 69px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider-holder a.prev { left: 0; background: url(images/prev.png) no-repeat 0 0; }
.slider-holder a.next { right: 0; background: url(images/next.png) no-repeat 0 0; }

.steps-wrapper { padding: 0 0 15px 0; height: 566px; background: url(images/steps-wrapper-bg.png) no-repeat center 0; display: block; margin: 0 auto; }
.steps-wrapper .title { padding: 80px 0 23px 0; width: 750px; display: block; text-align: center; margin: 0 auto; position: relative; }
.steps-wrapper .title h2 { display: block; text-align: center; font-size: 48px; line-height: 50px; color: #666666; font-family: 'FagoNoBlackRegular', arial, sans-serif; text-transform: uppercase; padding-left: 80px; }
.steps-wrapper .title .number { position: absolute; top: 48px; left: 191px; width: 97px; height: 108px; background: url(images/big-number-bg.png) no-repeat 0 0; display: block; font-size: 57px; line-height: 90px; color: #666666; padding-left: 5px; }
.steps-wrapper .title .number { font-family: 'FagoNoBlackRegular', arial, sans-serif; text-align: center; }
.steps-wrapper .boxes { width: 780px; margin: 0 auto; display: block; }
.steps-wrapper .box { width: 228px; height: 251px; float: left; display: block; padding: 0 16px; position: relative; letter-spacing: -0.3px; }
.steps-wrapper .box .number { position: absolute; top: 102px; left: -9px; width: 50px; height: 53px; background: url(images/small-number-bg.png) no-repeat 0 0; font-size: 21px; line-height: 53px; color: #939393; display: block; text-align: center; }
.steps-wrapper .box .number { font-family: 'GothamRounded-Bold', arial, sans-serif; }
.steps-wrapper .box .st-title { position: absolute; bottom: 73px; left: 54px; width: 150px; display: block; text-align: center; font-size: 14px; line-height: 16px; color: #60605f; text-transform: uppercase; font-family: 'GothamRounded-Bold', arial, sans-serif; }
.steps-wrapper .box .st-text { position: absolute; top: 186px; left: 51px; width: 160px; text-align: center; font-size: 11px; line-height: 12px; color: #60605f; letter-spacing: -0.3px; }
.steps-wrapper .step-one { background: url(images/step-box-1.png) no-repeat center 0; }
.steps-wrapper .step-two { background: url(images/step-box-2.png) no-repeat center 0; }
.steps-wrapper .step-three { background: url(images/step-box-3.png) no-repeat center 0; }
.steps-wrapper .bottom { display: block; text-align: center; margin: 0 auto; padding: 23px 0 0 0; letter-spacing: -0.3px; color: #60605f; }
.steps-wrapper .bottom h4 { font-size: 18px; line-height: 21px; text-transform: uppercase; font-family: 'GothamRounded-Bold', arial, sans-serif; }
.steps-wrapper .bottom h2 { font-size: 80px; line-height: 72px; text-transform: uppercase; font-family: 'FagoNoBlackRegular', arial, sans-serif; position: relative; margin-top: -8px; }
.steps-wrapper .bottom h2 span { position: relative; top: -3px; display: inline-block; font-size: 100px; }
.steps-wrapper .bottom p { font-size: 14px; line-height: 16px; }

.bottom-wrapper { background: url(images/bottom-wrapper-bg.png) no-repeat center 23px; height: 767px; margin: 0 auto; padding: 23px 0 0 0; }
.bottom-cnt { width: 812px; padding: 110px 0 0 0; margin: 0 auto; display: block; }
.bottom-cnt h3 { font-size: 36px; line-height: 38px; color: #60605f; font-family: 'FagoNoBlackRegular', arial, sans-serif; text-transform: uppercase; border-bottom: solid 1px #b5b5b5;  }
.bottom-cnt .two-boxes { padding-bottom: 55px; border-bottom: solid 1px #b5b5b5; }
.bottom-cnt .two-boxes .box { width: 390px; position: relative; }
.bottom-cnt .two-boxes .box h3 { padding: 0 0 14px 0; }
.bottom-cnt .two-boxes .box p { padding: 15px 0 0 0; color: #60605f; font-size: 14px; line-height: 16px; }
.bottom-cnt .two-boxes .box p a { color: #60605f; text-decoration: underline; }
.bottom-cnt .two-boxes .box p a:hover { text-decoration: none; }
.bottom-cnt .two-boxes .box .anchor { position: absolute; top: 52px; left: 25px; width: 11px; height: 6px; display: block; background: url(images/anchor.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.bottom-cnt .center-title { height: 75px; position: relative; border-bottom: solid 1px #b5b5b5; text-align: center; }
.bottom-cnt .center-title h3 { line-height: 75px; }
.bottom-cnt .center-title span { position: absolute; bottom: -7px; left: 50%; margin-left: -10px; font-size: 14px; line-height: 16px; color: #9e9e9e; font-family: 'GothamRounded-Bold', arial, sans-serif; background: #f1f1f1; padding: 0 7px; }
.bottom-cnt .conference { padding: 18px 0 66px 0; text-align: center; }
.bottom-cnt .conference img { display: block; margin: 0 auto; }

#footer .logo { display: block; width: 126px; height: 51px; margin: 0 auto 20px auto; background: url(images/bottom-logo.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
#footer .nav { text-align: center; border-top: solid 1px #b5b5b5; border-bottom: solid 1px #b5b5b5; height: 33px; font-size: 12px; line-height: 33px; text-transform: uppercase;  }
#footer .nav a { margin: 0 31px; display: inline-block; color: #787878; }
#footer .nav a:hover { text-decoration: none; color: #a1a1a1; }
#footer .phone { padding: 10px 0 0 50px; display: block; font-size: 18px; line-height: 20px; color: #666666; text-align: center; font-family: 'GothamRounded-Bold', arial, sans-serif; }

#f-bottom, #bottom-push { height: 31px; }
#f-bottom { background: #03ae9e; }